// Sass Variables
$color-primary: rgb(222, 26, 88) ;
$color-secondary: rgb(113, 62, 155);
$color-heading: rgb(113, 62, 155);
$color-body: #848e9f;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Quicksand',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 14px;